dl {
  margin-bottom: 1em !important;
  margin-top: 1em !important;
}

div.danger::before { content: '💣'; }
div.note::before { content: 'ℹ'; }
div.section { display: grid; }

dl.field-list > dt { word-break: keep-all !important; }
